@include gcss-version('Vars');

// ==========================================================================
// Vars
// ==========================================================================

$primary-color: #333;
$secondary-color: #000;
$tertiary-color: #FFF;